<div class="container">
  <div class="legenda">
    <p class="margin-right-10">Level: {{ level }} </p> 
    <p class="margin-right-10">Pontuação: {{ pontuacao }} </p>
  </div>  

  <div class="mensagem"> {{ mensagem }} </div> 

  <div class="main-game">  
    <div class="centro" (click)="setup()">
      {{ msgBotao }}
    </div>
    <div class="genius">            
      <div [ngClass]="[(coresAcesas[0])? 'green aceso' : 'green apagado', (desabilitarBotoes)? 'desabilitado' : 'habilitado']" (click)="click(0)"></div>      
      <div [ngClass]="[(coresAcesas[1])? 'red aceso' : 'red apagado', (desabilitarBotoes)? 'desabilitado' : 'habilitado']" (click)="click(1)"></div>      
      <div [ngClass]="[(coresAcesas[2])? 'yellow aceso' : 'yellow apagado', (desabilitarBotoes)? 'desabilitado' : 'habilitado']" (click)="click(2)"></div>
      <div [ngClass]="[(coresAcesas[3])? 'blue aceso' : 'blue apagado', (desabilitarBotoes)? 'desabilitado' : 'habilitado']" (click)="click(3)"></div>      
    </div>
  </div>
</div>